.Upper{
    display: flex;
}
.contractor_form label{
  margin-top: 20px;
}
.form-heading{
    margin: 40px 20px 15px;
}
.common{
    width: 75%;
    height: 51px;
    background-color:white;
    border: 5px solid gray;
    padding: 3px;
    float: left;
}
.sp{
    font-size: 19px;
    margin-left: -15%;
    cursor: pointer;
}
.gender{
  width: 200px;
  height: 40px;
  margin-top: 50px;
  border: 1px solid #ddd;
}
.form-error1
{
  color: red;
  padding: 5px 20px 0px 30px;
  font-size: 12px;
font-style: italic;
display: flex;
flex-direction: column;
}
.form-error
{
  color: red;
  font-size: 12px;
font-style: italic;
padding: 5px 20px 0px 30px;
}
#form-error-id{
  padding-left: 5px;
}
.in{
    position: absolute;
    top: 11px;
    left: 43px;
color: grey; 
}
.cont{
    position: relative;
    width: 31rem;
    display: flex;
    flex-direction: column;
}
.block{
    padding-right:50px ;
}

.com{
    margin-left: 24px;
    width: 74%;
}

.int{
    position: absolute;
    /* right: 70%; */
    left: 20px;
    top: 12px;
    color: grey;
}

.btn-submit{
    background-color: rgb(35, 95, 192);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 40px;
    border-radius: 5px;
    border: none;
    margin-top: 3%;
    margin-left: 75%;
    margin-bottom: 42px; 
}

.popup-container {
    position: absolute;
    display: inline-block;
    right: 25%;
    top: 9px;
  }
  
  .info-icon {
    cursor: pointer;
    font-size: 20px;
   
  }
  #submit-div{
    /* display: block; */
    margin: 90px 0;
  }
  #ActualBeneficiaryAadhar,#ActualBeneficiaryPan,#ActualAadhar,#ActualPan{
    padding-top: 10px;
    padding-left: 15px !important;
  }

  .submit-div{
    width: 75%;
    justify-content: flex-end;
    display: flex;
    
  }
  
  .contract-popup {
    position: absolute;
    top: 45px;
    left: 0;
    padding: 10px;
    /* width: 21rem; */
    height: 3em;
    color: grey;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: inline-block; 
    white-space: nowrap; 
    z-index: 999;
  
  }
  
  .pop{
    margin: 0;
    
  }
.contractor_form{
  box-shadow: 0px 0px 30px 0px;
  border-radius: 5px;
  padding: 20px;
}
.fc .fc-daygrid-day-number{
  text-decoration: none;
  color: #071952;
}
.fc-col-header-cell-cushion {
  text-decoration: none;
  color: #071952;
}

@media screen and (max-width: 550px){
    .Upper
    {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly; 
    
    } 
    .submit-div {
      width: 94%;
      margin-top: 120px;
    }
    .com{
        margin-left: 24px;
        width: 90%;
     }
    
     .up{
        /* width:23rem; */
        float: left;
    }
    .emer{
       
        width: 19rem;
        
    }
    .bl{
        padding: 0px;
    }
    .btn-submit{
        background-color: rgb(35, 95, 192);
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 15px 40px;
        border-radius: 5px;
        border: none;
        margin-top: 5%;
        margin-left: 30%; 
        margin-bottom: 12px;
    }
    .cont{
        width: 20rem;
    }
    .ActualBeneficiaryAadhar,.ActualBeneficiaryPan,.ActualAadhar,.ActualPan, .EmergencyContactNumber, .EmergencyContactRelation{
      padding-right: 0 !important;
    }
    .common{
      width: 81%;
    }
    #ActualBeneficiaryAadhar,#ActualBeneficiaryPan,#ActualAadhar,#ActualPan{
      width: 93%;
}
#ActualBeneficiaryAadhar{
  margin-bottom: 20px;
}
.popup-container {
  right: 20%;
}
.gender{
  margin-top: 0;
  margin-left: 25px;
}
    
}

@media screen and (min-width: 1000px){
  .contractor_form{
    background-color:white;
    width: 61rem;
    margin: 50px auto;
    }
}

@media screen and (min-width: 550px) and (max-width: 1000px){
.contractor_form{
background-color:white;
width: 30rem;
margin: 50px auto;
}
.Upper{
  display: block;
}

}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #000000;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}