*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.Reg-form
{
  width: 100%;
  height: 100%;
padding: 2rem;
display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;

border-radius: 1rem;

}

.regForm
{
  width: 50%;
  height: 100%;
  background-color: white;
  
  flex-direction: column;
 
   border: none;
   border-radius: 1rem;
   box-shadow: 5px 5px 3px 5px rgb(156, 152, 152);

} 

.input-group
{
  width: 100%;
  display: flex;
justify-content: space-evenly;
}


.label-name
{

  text-align: start;
  display: flex;
  justify-content: start;
  align-items: flex-start;

}

.form-error
{
  color: red;
  font-size: 10px;
font-style: italic;
display: flex;
flex-direction: column;

/* margin-top: 60px; */
}
.username
{
  margin-top: 1rem;
  width: 93%;
justify-content: center;
margin-left: 20px;
}

.fullname
{
  width: 100%;  
  display: flex;
  padding: 0.2rem;
justify-content: space-evenly;
}

.name 
{
  width: 100%;
}
.Password
{
  width: 100%;
  display: flex;
justify-content: space-evenly;
}

.email-section
{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.Email
{
  width: 45%;
}
.Password
{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.password
{
  width: 45%;
}
.regForm .button
{
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 left: 15rem;
}

.button
{
  /* margin-top: 1rem; */
  /* float: right; */
  position: absolute;
  left:10rem;
  top: -1rem;


}
.checkbox
{
 margin-left: 1rem;
}

/* media query */


@media screen and (max-width: 550px) 
{
  .Reg-form 
  {
    width: 100%;
    height: 100%;
    font-size: 15px;
   /* background-color: whitesmoke; */

  }
.regForm
{

  justify-content: left;
  box-shadow: none;
border-radius: none;
background-color: whitesmoke;
}
  .button
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -13rem;
  }
  .username
  {
    margin-left: -4rem;
    
    width: 20rem;
  }
  .password
  {
    flex-direction: row;
    width: 20rem;
    margin-left: -4rem;
  }
  .emailform
  {
    width: 20rem;
    margin-left: -4rem;
    flex-direction: row;
  }
  .name
  {
    flex-direction: row;
    width: 20rem;
    margin-left: -4rem;

  }
  .first-name
  {
    flex-direction: row;
  }
  .fullname 
  {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .email-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.Password
{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-check
{
margin-left: -5rem;
}
.checkbox
{
 margin-left: 2px;
}
}

@media (min-width: 600px) and (max-width: 900px)   {
  .Reg-form 
  {
    width: 100%;
    height: 100vh;
    font-size: 18px;
    display: flex;
    justify-content: center;
  align-items: center;
  }

.regForm
{
  width: 90%;
  height: 90%;
 
}
.Reg-form  .button
{
  /* margin-top: 6rem; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: auto;
 
}
.username
{
  margin-top: 4rem;
}
}