.invoice{
    padding: 50px;
}
.custom-select {
    /* min-width: 350px; */
  }
  
  .custom-select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }
  #period-div select{
    width: 200px;
    padding: 0.675em 1em 0.675em 1em;
  }
  #select-month{
    margin-right: 20px;
  }
#add-invoice-btn{
    position: fixed;
      right: 30px;
      background: linear-gradient(to bottom right, #79d8f2, #d6a0f2, #f8f);
      bottom: 40px;
  }
  .apply-invoice Typography{
    margin-bottom: 50px;
  }
  #invoice-head{
    margin-bottom: 10px;
    font-weight: 500;
  }
  .approved-invoice{
    margin-top: 40px;
  }

  .invoice-table .not-present #not-present-box{
    height: 20vh !important;
  }

  .approved-invoice .not-present #not-present-box{
    height: 20vh !important;
  }

  .invoice-table .not-present #not-present-typo{
    font-size: 27px;
  }
  .approved-invoice .not-present #not-present-typo{
    font-size: 27px;
  }

  .invoice-table #progress-box{
    height: 40vh;
  }
  .approved-invoice #progress-box{
    height: 40vh;
  }
  #eye{
    cursor: pointer;
  }
